# This file will tell ESLint which files and folders it should never lint.

# don't ever lint node_modules
node_modules

# don't ever lint build
build

# don't ever lint *.d.ts
*.d.ts

# don't ever lint temp
temp

# don't ever lint library
library